doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1")
    title= title
    script(src="/jsmpg.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src = '/javascripts/global.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content
    //Reference: https://github.com/phoboslab/jsmpeg/blob/master/stream-example.html -->

      div(class="container")
        //The canvas size specified here is the "initial" internal resolution. jsmpeg will
        //change this internal resolution to whatever the source provides. The size the
        //canvas is displayed on the website is dictated by the CSS style.

        canvas(id="canvas-video" width="640" height="480")
