doctype html
html
  head
    title= title
    script(src='/javascripts/jsmpg.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/global.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content
      h1= title
      div(class="container")
        canvas(id="canvas-video" width="640" height="480")
